{% extends 'base.html' %}



    {% block title %}
    <title>Basket</title>
    {% endblock %}

{% block body %}
<style>
    .shadow {
  box-shadow: 5px 5px 2px 6px lightblue;
}

    .wd-25{
    width:25%
    }
</style>
<div class="container my-5" style="background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
    <h2 class="text-center mb-4">Shopping Cart</h2>

    {% for line in view.object.lines.all %}
        <div class="card mb-3 shadow" style="height: 150px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{line.product.get_image_url}}" class="img-thumbnail" alt="{{line.product.title}}" style="width: 100px; height: 100px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{line.product.title}}</h5>
                        <p class="card-text">£{{line.price}}</p>
                        <p class="card-text"><small class="text-muted">Quantity: {{line.quantity}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- Basket Total Div -->
    <div class="basket-total text-white bg-dark p-3 " style="border-radius: 10px;">
        {% if request.user.is_authenticated %}
        <h1>Shipping Address</h1>
        <form id="add-address" action="{% url 'customers:add_address' %}" method="post">
            <div class="form-outline mb-4 wd-25">
                <input type="text" id="line_1" name="line_1" class="form-control form-control-sm"/>
                <label class="form-label" for="line_1">Line 1</label>
            </div>
            <div class="form-outline mb-4 wd-25">
                <input type="text" id="line_2" name="line_2" class="form-control form-control-sm"/>
                <label class="form-label" for="line_2">Line 2</label>
            </div>
            <div class="form-outline mb-4 wd-25">
                <input type="text" id="city" name="city" maxlength="20" class="form-control form-control-sm"/>
                <label class="form-label" for="city" >City</label>
            </div>
            <div class="form-outline mb-4 wd-25">
                <input type="text" id="postcode" name="postcode" maxlength="8" class="form-control form-control-sm"/>
                <label class="form-label" for="postcode" >PostCode</label>
            </div>
            <div class="form-outline mb-4 wd-25">
                <input type="checkbox" id="is_default" name="is_default" class="form-control form-control-sm"/>
                <label class="form-label" for="is_default" >Is Default</label>
            </div>
            <input type="submit" value="submit" class="btn btn-danger">
        </form>
        {% endif %}
        <h4 class="mb-3">Basket Total</h4>
        <p>Total: £{{ view.object.total }}</p>
        <a href="{% url 'basket:checkout_basket'%}" class="btn btn-primary checkout-basket">Checkout</a>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#add-address").on("submit", function(e){
    e.preventDefault();
    var addressData = new FormData($(this)[0]);

    $.ajax({
        url: "{% url 'customers:add_address' %}",
        method: "POST",
        dataType: "json",
        data: addressData,
        contentType: false,
        processData: false,
            success: function(response) {
                // Handle the success response from the server
                console.log(response);
            },
            error: function(xhr, status, error) {
                // Handle errors
                console.error(xhr.responseText);
            }
        });
    });

</script>
{% endblock %}
