{% extends 'base.html' %}



    {% block title %}
    <title>Blogs</title>
    {% endblock %}
{% block body %}
<div class="container">

  <hr>
  <div class="row">


     <div class="blog_card">
    <div class="blog_card_image">
      <img src="{{blog.cover_image.url}}" alt="" style="height:300px;width:500px">
    </div>
    <div class="blog_card_content">
       <h3 style="color:white">{{object.title}}</h3>
        <div style="color:white">
       {{object.body|safe}}
            </div>


  
  </div>
    </div>

</div>
</div>
{% endblock %}