{% extends 'dashboard/base.html' %}
{% block title %}
    <title>Dashboard: Orders</title>
    {% endblock %}
{% block body %}
<div class="container">
<div class="mx-auto" style="margin-top:40px">
    <form action="." method="get" autocomplete="off">
      <input type="text" name="number" placeholder="Search" {% if query%}value="{{query}}"{% endif %}>
    </form>
  </div>
<div class="d-flex" style="width:100%">

  <table class="table">
    <thead>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <th scope="col">Order Number</th>
        <th scope="col">User Email</th>
        <th scope="col">Total</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <td>{{order.number}}</td>
        <td>{{order.user.email}}</td>
        <td>£ {{order.total_incl_tax}}</td>
        <td>{{order.status}}</td>
        <td><a href="{% url 'dashboard:dashboard_orders_edit' pk=order.id %}" type="button" class="btn btn-primary">Edit</a> </td>
      </tr>
    {% endfor %}
      <!-- Add more rows for each order -->
    </tbody>
  </table>
</div>
  </div>

{% endblock %}