{% extends 'dashboard/index.html' %}
{% load static %}
{% block body %}


<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-6 col-xxl-12">
                <div class="card">
                    <div class="tab-pane active show fade">
                        <div class="tab-pane" id="Today" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-responsive-md card-table transactions-table">
                                    <thead>
                                    <tr>
                                        <th scope="row"><input type="checkbox" id="selectall"></th>
                                        <th scope="col">Order Number</th>
                                        <th scope="col">User Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <th scope="row"><input type="checkbox" name="order" value="{{order.id}}"></th>
                                        <td>{{order.number}}</td>
                                        <td>{{order.user.email}}</td>
                                        <td>£ {{order.total_incl_tax}}</td>
                                        <td>{{order.status}}</td>
                                        <td><a href="{% url 'dashboard:dashboard_orders_edit' pk=order.id %}"
                                               type="button" class="btn btn-primary">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                    <!-- Add more rows for each order -->
                                    </tbody>
                                </table>


                            </div>

                        </div>
                        <div class="pagination-container" style="text-align: center;">
<div class="pagination text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{% if query%}&name={{query}}{% endif %}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}{% if query%}&name={{query}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query%}&name={{query}}{% endif %}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{% if query%}&name={{query}}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
    Content body end
***********************************-->


{% endblock %}

{% block script%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $('#selectall').on("change", function (e) {
    alert("hello");
        $('input[name="order"]').prop("checked", $(this).prop("checked"));
        var checkedValues = [];
        $('input[name="order"]').each(function () {
            if ($(this).prop("checked")) {
                // Push the value to the array
                checkedValues.push($(this).val());
            }
        });
        $('#orderid').val(checkedValues.join(','));
    });

      $('input[name="order"]').on("change",function (e) {
        var checkedValues = [];
        $('input[name="order"]').each(function () {
            if ($(this).prop("checked")) {
                // Push the value to the array
                checkedValues.push($(this).val());
            }
        });
        $('#orderid').val(checkedValues.join(','));
      })


</script>
{% endblock%}