{% extends 'dashboard/base.html' %}
{% block title %}
    <title>Dashboard: {{page_title}}</title>
    {% endblock %}
{% block body %}
<div class="container" style="overflow: auto;">
<div class="row">

  <div class="mx-auto col-sm-6" style="margin-top: 40px">
    <form action="." method="get" autocomplete="off">
      <div class="input-group">
        <input type="text" name="name" class="form-control" placeholder="Search" {% if query %}value="{{query}}" {% endif %}>
        {% if request.resolver_match.url_name == 'import_products' %}
        <div class="input-group-append" style="margin-left: 10px;">
          <button type="button" class="btn btn-success" id="import_product">Import Products</button>
        </div>
        {% endif %}
        {% if request.resolver_match.url_name == 'store_products' %}
        <div class="input-group-append" style="margin-left: 10px;">
          <button onclick="location.href = '{% url 'dashboard:create_product' %}';" type="button" class="btn btn-success" id="store_products">Add Products</button>
        </div>
        {% endif %}
      </div>
    </form>
  </div>

</div>

  <div class="alert alert-success d-none" role="alert">
  This is a success alert—check it out!
</div>
<div class="d-flex" style="width:100%">

  <table class="table">
    <thead>
      <tr>
        <th scope="row"><input type="checkbox"></th>
        <th scope="col">Product</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Price</th>
        <th scope="col">Type</th>
        {% if request.resolver_match.url_name == 'store_products' %}
        <th scope="col">Show on Website</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        {% endif %}
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for product in items %}
      <tr>
        <th scope="row"><input name="product" product_id="{{product.id}}" type="checkbox" {% if request.resolver_match.url_name == 'import_products' and  product.imported %}checked disabled{% endif %}></th>
        <td>{{product.title}}</td>
        <td><img src="{{product.get_image_url}}" style="width:50px;height:50px"> </td>
        <td>£ {{product.price}}</td>
        <td>{{product.get_product_type_display}}</td>
        {% if request.resolver_match.url_name == 'store_products' %}
        <td><input type="checkbox" product_id="{{product.id}}" {% if product.is_available %}checked{% endif %}></td>
        <td>{{product.brand.title}}</td>
        <td>{{product.category.title}}</td>
        <td><a href="{% url 'dashboard:edit_product' pk=product.id %}" type="button" class="btn btn-primary">Edit</a> </td>
        {% endif %}
      </tr>
    {% endfor %}
      <!-- Add more rows for each order -->
    </tbody>
  </table>
</div>
  <div class="pagination-container" style="text-align: center;">
<div class="pagination text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    </div>


  </div>

{% endblock %}

{% block script %}
<script>
  $('input[type="checkbox"]').on("change", function(e){

    data = {"status": $(this).prop("checked"), "product_id": $(this).attr("product_id")};
        $.ajax({
                url: "{% url 'dashboard:change_product_status' %}",
                method: "POST",
                dataType: "json",
                data: data,
                success: function(response) {
                },
                error: function(xhr, status, error) {
                    console.error("AJAX Request Error:", status, error);
                }
            });
  })

</script>
{% endblock %}